#plain1{
    width: 280px;
    height: 200px;
    background-image: url("../img/plainfinal.gif");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 40;
    transform: translate(-50%,-50%) rotate(90deg);
}
#person1{
    width: 100px;
    height: 200px;
    background-image: url("../img/personfinal.gif");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 55%;
    left: 70%;
    z-index: 40;
    transform: translate(-50%,-50%);
}
#plain1sub{
    position: absolute;
    top: 35%;
    left: 10%;
    z-index: 40;
    font-size: 40px;
    color: yellow;
}
#person1sub{
    position: absolute;
    top: 35%;
    left: 55%;
    z-index: 40;
    font-size: 40px;
    color: yellow;
}

#next1{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: yellow;
    border-radius: 50%;
    border: 5px solid black;
}
#next1:hover{
    background-color: orangered;
}
#next1 img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
