.fire{
    width: 1000px;
    height: 6px;
    background-color: rgb(255, 0, 0);
    position: absolute;
}
.fireyellow{
    width: 1000px;
    height: 6px;
    background-color: rgb(255, 247, 0);
    position: absolute;
}
.fireblue{
    width: 1000px;
    height: 6px;
    background-color: rgb(0, 47, 255);
    position: absolute;
}


body{
    overflow-x: hidden; /* جلوگیری از اسکرول افقی */
    background-image: url("img/backgifgame.gif");
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* یا هر مقدار بین 400 تا 700 */
    font-style: normal;
    cursor: url("img/pointer.png"), auto;
    user-select: none;
}
.attacker{
    background-image: url("img/attaketfinal.gif");
    width: 80px;
    height: 80px;
    transform: rotate(-90deg);
    background-position: center;
    background-size: cover;
    font-size: 30px;
    position: absolute;
    transform-origin: top left; /* تعیین نقطه مرجع */
    opacity: 80%;
    z-index: 0;
}
.damegedis{
    width: 8px;
    height: 80px;
    border: 2px solid red;
    position: absolute;
    left: 65px;
}
.damegedislevelfull{
    width: 8px;
    height: 80px;
    position: absolute;
    background-color: red;
}
.damegedislevelhalf{
    width: 8px;
    height: 40px;
    position: absolute;
    background-color: red;
}
.custom-cursor {
    position: absolute; /* موقعیت مطلق */
    font-size: 30px; /* اندازه */
    color: rgb(0, 0, 255); /* رنگ */
    pointer-events: none; /* جلوگیری از تأثیر روی عناصر دیگر */
    z-index: 1000;
}
#score{
    width: 100px;
    height: 50px;
    background-color: red;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    
}

.starter{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
    position: fixed;
    z-index: 100;
}
.banner{
    background-image: url("img/backgif2.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 101;
    border-radius: 10px;
}
.btnstart{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mybtn{
    width: 150px;
    height: 60px;
    background-color: red;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: colorchange 4s infinite;
    color: white;
    transition-property: width height;
    transition-duration: 1s;
    cursor: pointer;
}
.mybtn:hover{
    width: 1000px;
    height: 50px;
}
@keyframes colorchange{
    0%{
        background-color: blue;
        color: white;
    }
    25%{
        background-color: red;
        color: white;
    }
    50%{
        background-color: yellow;
        color: black;
    }
    75%{
        background-color: green;
        color: black;
    }
    100%{
        background-color: blue;
        color: white;
    }
}


#customCursor{
    background-image: url("img/plainfinal.gif");
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 120px;
    transform: rotate(90deg);

}

#picon{
    margin-right: 10px;
    font-size: x-large;
    font-weight: bolder;
    z-index: 1;
}
#rocketicon{
    font-size: xx-large;
    z-index: 1;
}
.intro{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 120%;
    text-align: center;
}
.intro h1{
    font-size: 70px;
}
.intro p{
    font-size: x-large;
    font-size: 28px;
    line-height: 1.7;
    max-width: 1300px;
    margin: 0 auto;
    white-space: pre-line;
}
#mainpage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    line-height: 1.2;
}
#mainpage div:hover{
    color: yellow;
}

#storypage1{
    background-image: url("img/earthplane2.gif");
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;
}

#plentstate{
    background-image: url("img/planetimg.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50%,-50%) rotate(120deg);
    height: 640px;
    width: 640px;
    animation: rotate 2s linear infinite;
}

#line{
    position: absolute;
    left: 130px;
    width: 3px;
    height: 100%;
}

#select{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    line-height: 1.2;
    color: white;
    text-align: center;

}
#leveleseay:hover{
    color: yellow;
    cursor:pointer
}
#levelhard:hover{
    color: orangered;
    cursor:pointer
}
#youwin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    line-height: 1.2;
    color: white;
    text-align: center;
    z-index: 5;
}

.choisshop div:hover{
    cursor: pointer;
    color: yellow;
}

#next2{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0%;
    right: 5%;
    background-color: yellow;
    border-radius: 50%;
    border: 5px solid black;
}
#next2:hover{
    background-color: orangered;
}
#next2 img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#startaginbut:hover{
    cursor: pointer;
    color: yellow;
}
#healthis{
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: green;

    top: 0%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
#youlose{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 900px;
    font-size: 50px;
    width: 10000px;
}
.choisshop1:hover{
    color: yellow;
    cursor: pointer;
}
#fullScreenBtn{
    width: 130px;
    height: 40px;
    font-size: medium;
    background-color: yellow;
    border: 0;
    border-radius: 5px;

}
#fullScreenBtn:hover{
    background-color: rgb(199, 199, 3);
}
#homepage{
    cursor: pointer;
    margin-top: 10px;
}
#homepage:hover{
    color: yellow;
}
.lests:hover{
    color: yellow;
}
.rockets img{
    width: 500px;
    transform: rotate(90deg) translate(-50%,-50%);
    position: absolute;
    z-index: 100;
    
}
.rockets img:nth-child(1) {
    top: -70%;
    left: -100%;
}

.rockets img:nth-child(2) {
    top: 50%;
    left: -100%;
}

.rockets img:nth-child(3) {
    top: 150%;
    left: -100%;
}


#typingtext{
    font-size: 25px;
}
#mainsub{
    position: absolute;
    top: 20%;
    color: white;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

@media (max-width: 1400px) {
    #typingtext{
        font-size: 18px;
    }
    #mainsub{
        top: 20%;
    }
}
#homepagelose{
    cursor: pointer;
}
#homepagelose:hover{
    color: yellow;
}
.lests p{
    cursor: pointer;
     font-size: 80px;
      color: yellow;
      width: 500px;
}
.lests{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lests p:hover{
    color: orangered;
}

#mainsub h1{
    color: red;
    animation: colorchange1 4s infinite;
}
@keyframes colorchange1{
    0%{

        color: rgb(255, 0, 0);
    }
    25%{

        color: rgb(212, 255, 0);
    }
    50%{

        color: rgb(0, 110, 255);
    }
    75%{

        color: rgb(140, 0, 255);
    }
    100%{

        color: rgb(255, 0, 0);
    }
}